{% load static%}

<div class="content third-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="first-section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="left-content">
                                    <h2>I am Jr. Software Engineer</h2>
                                    <p>At present I am working as a Jr. Software Engineer at ME-SOLshare Ltd. (From September-2019)</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="right-image">
                                    <img src="{% static 'img/first_service.jpg' %}" alt="first service">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="left-image">
                                    <img src="{% static 'img/second_service.jpg' %}" alt="second service">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="right-content">
                                    <h2>Academically I am a Textile Engineer from DUET</h2>
                                    <p>I have completed my graduation from DUET from Textile Engineering Department but my career is now going with Software Engineering field</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>