{% load static %}
<div class="content second-content">
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="left-content">
                <h2>About ITEA DEMO WEB APP</h2>
                <ul>
                    <li> <h2 id="text">This web application will manage monthly financial transaction of every member of the organization</h2></li>
                    <li> <h2 id="text">This web application will manage expense transaction of the organization</h2></li>
                    <li> <h2 id="text">This web application will manage income transaction of the organization</h2></li>
                    <li> <h2 id="text">Transaction query by date and specific member</h2></li>
                    <li> <h2 id="text">Calculate Due months</h2></li>
                    <li> <h2 id="text">Total calculation of the members' balance, organizational expense and income</h2></li>
                    <li> <h2 id="text">Email Notification for every transaction</h2></li>
                    <li> <h2 id="text">And more.............!</h2></li>
                </ul>

          </div>
        </div>
        <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'img/about_image.jpg' %}" alt="">
          </div>
        </div>
    </div>
</div>