<div class="content fifth-content">
    <div class="container-fluid">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                  <fieldset>
                      <a href="{% url 'member:login' %}">
                          <button type="link" id="form-submit" class="btn login-button">Login</button>
                      </a>
                      <a href="{% url 'member:signup' %}">
                          <button type="link" id="form-submit" class="btn">Sign Up</button>
                      </a>
                  </fieldset>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>