{% load static%}
  <div class="logo">
     <img src="{% static 'img/logo.png'%}" alt="">
  </div>
  <div class="mini-logo">
      <img src="{% static 'img/mini_logo.png' %}" alt="">
  </div>
  <ul>
    <li><a href="#1"><i class="fa fa-home"></i> <em>Home</em></a></li>
    <li><a href="#2"><i class="fa fa-user"></i> <em>About ITEA</em></a></li>
    <li><a href="#3"><i class="fa fa-group"></i> <em>About Us</em></a></li>
    <li><a href="#4"><i class="fa fa-image"></i> <em>Work</em></a></li>
    <li><a href="#5"><i class="fa fa-arrow-right"></i> <em>Enter</em></a></li>
  </ul>