{% extends 'base/base_out.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<div class="content second-content">
    <div class="container-fluid">
        <p id="text">
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p id="text">
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</div>
{% endblock %}