{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load grouptags %}


{% block title %}Expense Transaction List{% endblock %}

{% block content %}
<div class="content fourth-content">
    <div class="container-fluid">
        <div class="col-md-12 bottom">
            <div class="left-content">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> <h2 id="head-text">Expense Transaction Lists:</h2>
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-striped table-sm text-center">
                        <thead>
                        <tr>
                            <th> <h3 class="text-center" id="text"> Expense Type</h3> </th>
                            <th> <h3 class="text-center" id="text"> Expense By</h3> </th>
                            <th> <h3 class="text-center" id="text"> Expense Amount</h3> </th>
                            <th> <h3 class="text-center" id="text"> Expense Date</h3> </th>
                            {% if request.user|has_group:"Finance" %}
                            <th> <h3 class="text-center" id="text"> Edit</h3> </th>
                            <th> <h3 class="text-center" id="text"> Delete</h3> </th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td><a href="#" class="test-success"><span class="btn text-dark" id="table-text">{{ transaction.expense_type }}</span></a></td>
                            <td><a href="#" class="test-success"><span class="btn text-dark" id="table-text">{{ transaction.expense_by }}</span></a></td>
                            <td><a href="#" class="test-success"><span class="btn text-dark" id="table-text">{{ transaction.amount }}</span></a></td>
                            <td><a href="#" class="test-success"><span class="btn text-dark" id="table-text">{{ transaction.expense_date }}</span></a></td>
                            {% if request.user|has_group:"Finance" %}
                            <td><a href="{% url 'balance:exp-transaction-edit' transaction.id %}" class="test-success"><span class="btn text-dark" id="table-text">Click Edit</span></a></td>
                            <td><a href="{% url 'balance:exp-transaction-delete' transaction.id %}" class="test-success"><span class="btn text-dark" id="table-text">Click Delete</span></a></td>
                            {% endif %}

                        </tr>
                        {% endfor %}
                        {% if total %}
                         <tr>
                            <td><a href="#" class="test-success"><span class="btn text-dark" id="table-text"></span></a></td>
                            <td><a href="#" class="test-success"><span class="btn text-dark" id="table-text">Total = </span></a></td>
                            <td><a href="#" class="test-success"><span class="btn text-dark" id="table-text">{{total}}</span></a></td>
                         </tr>
                        {% endif %}
                        </tbody>

                    </table>
                    {% include "pagination/pagination.html" with page=transactions %}
                </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
