{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load grouptags %}

{% block title %}Total Overview of Organization{% endblock %}

{% block content %}
<div class="content first-content">
  <div class="container-fluid">
      <div class="col-md-12 bottom">
          <h2>Total Overview of Organization </h2>
          <p><em>Monthly money by members: </em>{{ monthy }}</p>
          <p><em>Additional money by members: </em> {{ additional }}</p>
          <p><em>Others money by members: </em> {{ others}}</p>
          <p><em>Total expense amount: </em> {{ total_expense}}</p>
          <p><em>Total income amount: </em> {{ total_income}}</p>
      </div>
  </div>
</div>{% endblock %}
