{% load static %}
<div class="content first-content">
  <div class="container-fluid">
      <div class="col-md-3">
          <div class="author-image"><img src="{% static 'img/author_image.png' %}" alt=""></div>
      </div>
      <div class="col-md-9">
          <h2>Mingalar par</h2>
          <p>Lorem ipsum <em>dolor sit amet</em>, consectetur adipiscing elit. <em>Sed vehicula blandit augue,</em> eu maximus odio tempus vitae.</p>
          <div class="fb-btn"><a href="{% url 'member:test3' %}" target="_blank">Contact</a></div>
          <div class="fb-btn"><a href="https://www.facebook.com/templatemo/" target="_blank">Our FB Page</a></div>
      </div>
  </div>
</div>